@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: #dd247a;
    --color-secundario: #6bd9f2;
    --color-terciario: #0d0d0d;
    --color-cuternario: #f2f2f2;
}

a, a:hover{
    text-decoration: none;
}


.topBarra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 25px;
    background-color: var(--color-secundario);
}

.topBarra img{
    width: 20px;
}

.topBarra span{
    color: var(--color-primario);
    font-size: 1.1rem;
    font-weight:bolder;
}

.topBarra ul{
    list-style: none;
    display: flex;
}

.topBarra li{
    margin: 0px 5px;
}

.topBarra a{
    color: var(--color-primario);
}

.topBarra a:hover{
    color: var(--color-primario);
}

.nav{
    background-color: var(--color-terciario);
    padding: 5px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

nav a{
    color: var(--color-cuternario);
    font-size: 1rem;
}

.nav a:hover{
    color: var(--color-primario);
}

.logo{
    display: flex;
}

.logo img{
    width: 3.5rem;
}

.menu{
    display: flex;
    align-items:center;
    list-style: none;
}

.menu li{
    padding: 15px 13px;

}

#inicio {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenidoInicio{
    max-width: 500px;
    color: #820d4b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.414);
    z-index: 2;
}

.contenidoInicio h2{
    font-size: 7em;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    text-align: center;
    color: var(--color-primario);
    text-shadow: 2px 2px 4px var(--color-secundario);
}

.contenidoInicio h3{
    font-size: 1.5em;
    text-align: center;
    padding: 0 0 50px 0;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    color: var(--color-secundario);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contenidoInicio p{
    font-size: 1em;
    text-align: center;
}

.contenidoInicio strong{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: anim 3s infinite linear;
}

#nosotros {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenidoNosotros{
    max-width: 500px;
    color: #820d4b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.414);
    z-index: 2;
    position: relative;
    left: 400px;
}

.contenidoNosotros h2{
    font-size: 7em;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    text-align: center;
    color: var(--color-primario);
    text-shadow: 2px 2px 4px var(--color-secundario);
}

.contenidoNosotros h3{
    font-size: 1.5em;
    text-align: center;
    padding: 0 0 50px 0;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    color: var(--color-secundario);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contenidoNosotros p{
    font-size: 1em;
    text-align: center;
}

.contenidoNosotros strong{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: anim 3s infinite linear;
}

#servicios{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("img/fondo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 20px 100px;
}

.contenidoServicios{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.tituloServicios{
    display: flex;
    width: 70%;
    color: var(--color-primario);
    align-items: center;
    justify-content: center;
    height: 4vw;
    border-radius: 15px 15px 15px 15px;
    font-size: 20px;
    font-weight: bold;
}

.tituloServicios h2{
    font-size: 2em;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    text-align: center;
    color: var(--color-primario);
    text-shadow: 2px 2px 4px var(--color-secundario);
}

.servicio{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: auto;
    height: auto;
    column-gap: 100px;
    row-gap: 5px;
    align-items: center;
}

.servicio div{
    color: var(--color-primario);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.servicio h3{
    color: var(--color-primario);
    text-shadow: 2px 2px 4px var(--color-secundario);
}

.imgServicio{
    border-radius: 15px;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 290px;
    max-height: 150px;
    height: auto;
    display: block;
}

.imgServicio:hover {
    transform: scale(1.1);
}

#galeria{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("img/fondo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 20px 100px;
}

.contenidoGaleria{
    min-height: 100vh;
    position: relative;
    align-items: center;
    padding: 30px 100px;
}

.tituloGaleria{
    display: flex;
    width: 100%;
    color: var(--color-primario);
    align-items: center;
    justify-content: center;
    height: 4vw;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
}

.tituloGaleria h2{
    font-size: 2em;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    text-align: center;
    color: var(--color-primario);
    text-shadow: 2px 2px 4px var(--color-secundario);
}

.slider{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
}

#contacto{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("img/fondoContacto.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 50px 100px;
}

#contenidoContacto{
    max-width: 400px;
    color: var(--color-primario)
}

#contenidoContacto h2{
    text-align: center;
    color: var(--color-primario);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2em;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
}

#contenidoContacto h4{
    font-size: 1.5em;
    text-align: center;
    color: var(--color-secundario);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
}

#contenidoContacto p{
    padding: 10px 0 40px 0;
    text-align: justify;
}

.btn-grupo a{
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background: var(--color-secundario);
    border-radius: 10px;
    border: 2px solid var(--color-secundario);
    font-weight: 600;
    transition: .3s;
}

.btn-grupo a:hover{
    background-color: transparent;
    color: var(--color-secundario);
}

.iconos-redes{
    padding: 10px 20px;
    bottom: 50px;
}

.iconos-redes a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: var(--color-secundario);
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid var(--color-secundario);
    transition: .3s;
}

.iconos-redes a:hover{
    transform: translateY(-5px);
}

.iconos-redes a i{
    color: #fff;
}



@media screen and (max-width: 600px){
    nav{
        display: flex;
        position: relative;
        padding: 15px 20px;
        flex-wrap: wrap;
    }

    nav ul{
        display: flex;
        flex-wrap: wrap;
    }

    .logo img{
        display: none;
    }
    .menu li{
        padding: 7px 6px;
    }

    #inicio{
        padding: 20px 0;
    }

    #nosotros{
        padding: 30px 0;
    }

    .contenidoNosotros{
        max-width: 500px;
        color: #820d4b;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.414);
        z-index: 2;
        position: relative;
        left: -1px;
    }

    .servicio{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        width: auto;
        height: auto;
        column-gap: 50px;
        row-gap: 5px;
        align-items: center;
    }

    .imgServicio{
        border-radius: 15px;
        transition: transform 0.3s ease;
        width: 100%;
        max-width: 140px;
        max-height: 80px;
        height: auto;
        display: block;
    }

    #galeria{
        padding: 30px 0;
    }

    .contenidoGaleria{
        min-height: 100vh;
        position: relative;
        align-items: center;
        padding: 100px 0;
    }

    .slider{
        padding: 50px 0;
    }

    #contacto{
        padding: 0 0;

    }

    

}

@keyframes anim{
    0%{
        color: var(--color-terciario)
    }
    18%{
        color: #ffc600
    }
    20%{
        color: #ffc600;
        text-shadow: 0 0 1vw #ffc600,
        0 0 3vw #f44336;
    }
    30%{
        color: var(--color-terciario)
    }
    35%{
        color: #ffc600;
        text-shadow: 0 0 1vw #ffc600,
        0 0 3vw #f44336;
    }
    70%{
        color: var(--color-terciario)
    }
    80%{
        color: #ffc600;
        text-shadow: 0 0 1vw #ffc600,
        0 0 3vw #f44336;
    }
    90%{
        color: var(--color-terciario)
    }
    100%{
        color: var(--color-terciario)
    }
}


